@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @ViewData["featureinfo"]
</div>
<img src="data:image/png;base64, @ViewData["image"]" height="1000px" />
<img src="data:image/png;base64, @ViewData["image2"]" />